.Search-Bar-card {
  min-width: 50vh;
  min-height: 10vh;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0;
}
.Search-Bar-button {
  text-align: center;
}
.Search-Bar-input {
  width: 45ch;
  padding: 0;
  margin: 0;
}
